In [2]:
import numpy as np
import pandas as pd

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
df = pd.read_excel(r"L:\lvpcgis\LandUse\ExistingLandUse\2018LandUse\LC_ELU18_Edit.xlsx")
df.head()
df.columns

,OBJECTID,FID_TotalDifferentParcels2018,ParcelType,ELU18,ELU18Text,GISAcres,FID_LC_ELU_2016Baseline,MUNICODE,LVPCGENC,SUM_19_Par,SUM_Res_1_,SUM_RCOB_2,SUM_ManuIn,SUM_WareDi,SUM_TCU_6_,SUM_PubQua,SUM_ParksR,SUM_AgUnDe,Shape_Length,Shape_Area
0,1,287,1.0,1,Residential,0.629596,-1,0,1,0,0.629596,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,959.375664,2.742521e+04
1,2,-1,0.0,0,NaN,796.741739,1,0,990,0,0.000000,0.000000,0.000000,0.0,796.741739,0.0,0.0,0.0,568156.127645,3.470607e+07
2,3,-1,0.0,0,NaN,185.098512,2,1,1,0,185.098512,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,117194.178745,8.062891e+06
3,4,-1,0.0,0,NaN,6.097628,3,1,2,0,0.000000,6.097628,0.000000,0.0,0.000000,0.0,0.0,0.0,6619.440174,2.656127e+05
4,5,-1,0.0,0,NaN,7.969384,4,1,3,0,0.000000,0.000000,7.969384,0.0,0.000000,0.0,0.0,0.0,4092.396547,3.471463e+05

Index(['OBJECTID', 'FID_TotalDifferentParcels2018', 'ParcelType', 'ELU18',
       'ELU18Text', 'GISAcres', 'FID_LC_ELU_2016Baseline', 'MUNICODE',
       'LVPCGENC', 'SUM_19_Par', 'SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe',
       'Shape_Length', 'Shape_Area'],
      dtype='object')

In [28]:
sublist.index('SUM_TCU_6_')

4

In [29]:
sublist = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
#Use dictionary here is probably better
d = {}
for i in range(4):
    d['sub' + str(i)] = [v for e,v in enumerate(sublist) if e != i]
d['sub4'] = ['SUM_Res_1_', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
for i in range(4, 8):
    d['sub' + str(i+1)] = [v for e,v in enumerate(sublist) if e != i]

In [30]:
d

{'sub0': ['SUM_RCOB_2',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub1': ['SUM_Res_1_',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub2': ['SUM_Res_1_',
  'SUM_RCOB_2',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub3': ['SUM_Res_1_',
  'SUM_RCOB_2',
  'SUM_ManuIn',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub4': ['SUM_Res_1_',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub5': ['SUM_Res_1_',
  'SUM_RCOB_2',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_PubQua',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub6': ['SUM_Res_1_',
  'SUM_RCOB_2',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_ParksR',
  'SUM_AgUnDe'],
 'sub7': ['SUM_Res_1_',
  'SUM_RCOB_2',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_AgUnDe'],
 'sub8': ['SUM_Res_1_',
  'SUM_RCOB_2',
  'SUM_ManuIn',
  'SUM_WareDi',
  'SUM_TCU_6_',
  'SUM_PubQua',
  'SUM_ParksR']}

In [17]:
sublist = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
#Use dictionary here is probably better
d = {}
d['sub1'] = ['SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
d['sub2'] = ['SUM_Res_1_', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
d['sub3'] = ['SUM_Res_1_', 'SUM_RCOB_2', 
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
d['sub4'] = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
#sub5 is also categorized as Retail&Commercial, so same as sub2
d['sub5'] = ['SUM_Res_1_', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
d['sub6'] = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe']
d['sub7'] = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_ParksR', 'SUM_AgUnDe']
d['sub8'] = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_AgUnDe']
d['sub9'] = ['SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR']

#I have been so stupid, this cell stays to show how stupid I've been

In [14]:
collist = ['OBJECTID', 'FID_TotalDifferentParcels2018', 'ELU18',
       'GISAcres', 'FID_LC_ELU_2016Baseline', 'MUNICODE',
       'LVPCGENC', 'SUM_19_Par', 'SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe',
       ]
e = df[collist]
e.head(10)

,OBJECTID,FID_TotalDifferentParcels2018,ELU18,GISAcres,FID_LC_ELU_2016Baseline,MUNICODE,LVPCGENC,SUM_19_Par,SUM_Res_1_,SUM_RCOB_2,SUM_ManuIn,SUM_WareDi,SUM_TCU_6_,SUM_PubQua,SUM_ParksR,SUM_AgUnDe
0,1,287,1,0.629596,-1,0,1,0,0.629596,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
1,2,-1,0,796.741739,1,0,990,0,0.000000,0.000000,0.000000,0.0,796.741739,0.000000,0.000000,0.000000
2,3,-1,0,185.098512,2,1,1,0,185.098512,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,4,-1,0,6.097628,3,1,2,0,0.000000,6.097628,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
4,5,-1,0,7.969384,4,1,3,0,0.000000,0.000000,7.969384,0.0,0.000000,0.000000,0.000000,0.000000
5,6,-1,0,1.288890,5,1,5,0,0.000000,1.288890,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
6,7,-1,0,5.260547,6,1,6,0,0.000000,0.000000,0.000000,0.0,5.260547,0.000000,0.000000,0.000000
7,8,-1,0,11.884449,7,1,7,0,0.000000,0.000000,0.000000,0.0,0.000000,11.884449,0.000000,0.000000
8,9,-1,0,65.537753,8,1,8,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,65.537753,0.000000
9,10,-1,0,107.417767,9,1,9,0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,107.417767

In [40]:
df.head()
e = df[collist]

,OBJECTID,FID_TotalDifferentParcels2018,ParcelType,ELU18,ELU18Text,GISAcres,FID_LC_ELU_2016Baseline,MUNICODE,LVPCGENC,SUM_19_Par,SUM_Res_1_,SUM_RCOB_2,SUM_ManuIn,SUM_WareDi,SUM_TCU_6_,SUM_PubQua,SUM_ParksR,SUM_AgUnDe,Shape_Length,Shape_Area
0,1,287,1.0,1,Residential,0.629596,-1,0,1,0,0.629596,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,959.375664,2.742521e+04
1,2,-1,0.0,0,NaN,796.741739,1,0,990,0,0.000000,0.000000,0.000000,0.0,796.741739,0.0,0.0,0.0,568156.127645,3.470607e+07
2,3,-1,0.0,0,NaN,185.098512,2,1,1,0,185.098512,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,117194.178745,8.062891e+06
3,4,-1,0.0,0,NaN,6.097628,3,1,2,0,0.000000,6.097628,0.000000,0.0,0.000000,0.0,0.0,0.0,6619.440174,2.656127e+05
4,5,-1,0.0,0,NaN,7.969384,4,1,3,0,0.000000,0.000000,7.969384,0.0,0.000000,0.0,0.0,0.0,4092.396547,3.471463e+05

In [42]:
#With the created dictionary, let's see if we can clean the df in a loop

e.loc[e.LVPCGENC == 1, d['sub0']] = 0

#The cleanup seems to have worked. Ignore the warning since we are obviously doing this on a copy
for i in range(9):
    df.loc[df.LVPCGENC == i+1, d['sub' + str(i)]] = 0

C:\Users\bliu\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [53]:
#Clean the Ag Column for GENC 19.
df.loc[df.LVPCGENC == 19, 'SUM_AgUnDe'] = df.GISAcres - df.SUM_Res_1_

In [54]:
df[(df.FID_TotalDifferentParcels2018 != -1) & (df.LVPCGENC == 19)][['GISAcres', 'LVPCGENC', 'SUM_19_Par', 'SUM_Res_1_', 'SUM_AgUnDe']]

       GISAcres  LVPCGENC  SUM_19_Par  SUM_Res_1_  SUM_AgUnDe
347   16.793455        19           1    5.000000   11.793455
508   20.312829        19           1    5.000000   15.312829
550   29.965609        19           1    5.000000   24.965609
565    0.424695        19           1    0.424695    0.000000
566    0.354306        19           1    0.354306    0.000000
567   11.211260        19           1    5.000000    6.211260
568    0.001564        19           1    0.001564    0.000000
595    0.886155        19           1    0.886155    0.000000
596   49.640911        19           1    5.000000   44.640911
670   10.796432        19           1    5.000000    5.796432
691   13.672993        19           1    5.000000    8.672993
735   34.877120        19           1    5.000000   29.877120
750    0.181285        19           1    0.181285    0.000000
751   11.158410        19           1    5.000000    6.158410
752    0.028588        19           1    0.028588    0.000000
753    0.171358        19           1    0.171358    0.000000
771   89.794459        19           1    5.000000   84.794459
772    0.011770        19           1    0.011770    0.000000
809   21.780770        19           1    5.000000   16.780770
844   17.128504        19           1    5.000000   12.128504
959   14.559648        19           1    5.000000    9.559648
960    0.000043        19           1    0.000043    0.000000
1035  10.542346        19           1    5.000000    5.542346
1061   0.009400        19           1    0.009400    0.000000
1062  10.645450        19           1    5.000000    5.645450
1063   0.003612        19           1    0.003612    0.000000
1120   0.000690        19           1    0.000690    0.000000
1121   0.075630        19           1    0.075630    0.000000
1122  19.126665        19           1    5.000000   14.126665
1178  61.112148        19           1    5.000000   56.112148
1197  27.075208        19           1    5.000000   22.075208
1208   0.005649        19           1    0.005649    0.000000
1209  10.932623        19           1    5.000000    5.932623
1226  25.029565        19           1    5.000000   20.029565
1336   0.023628        19           1    0.023628    0.000000
1337  13.179709        19           1    5.000000    8.179709
1338   0.000465        19           1    0.000465    0.000000
1370  13.473720        19           1    5.000000    8.473720
1566  10.003307        19           1    5.000000    5.003307
2114   0.136502        19           1    0.136502    0.000000
2115   0.136502        19           1    0.136502    0.000000
2116   1.466412        19           1    1.466412    0.000000
2117   1.466412        19           1    1.466412    0.000000
2118   0.025179        19           1    0.025179    0.000000
2119   0.025179        19           1    0.025179    0.000000
2122   1.188854        19           1    1.188854    0.000000
2123   1.188854        19           1    1.188854    0.000000

In [57]:
#Clean other columns for GENCCODE 
list19 = ['SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR']
df.loc[df.LVPCGENC == 19, list19] = 0

In [60]:
df.tail(10)

,OBJECTID,FID_TotalDifferentParcels2018,ParcelType,ELU18,ELU18Text,GISAcres,FID_LC_ELU_2016Baseline,MUNICODE,LVPCGENC,SUM_19_Par,SUM_Res_1_,SUM_RCOB_2,SUM_ManuIn,SUM_WareDi,SUM_TCU_6_,SUM_PubQua,SUM_ParksR,SUM_AgUnDe,Shape_Length,Shape_Area
2120,2121,616,1.0,1,Residential,0.001227,219,53,1,0,0.001227,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,46.036755,53.455908
2121,2122,616,1.0,1,Residential,0.001227,221,53,1,0,0.001227,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,46.036755,53.455908
2122,2123,657,1.0,19,Rural Residential,1.188854,186,46,19,1,1.188854,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,2713.127969,51786.486315
2123,2124,657,1.0,19,Rural Residential,1.188854,188,46,19,1,1.188854,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,2713.127969,51786.486315
2124,2125,731,1.0,4,Industrial & Manufacturing,0.000004,96,26,4,0,0.000000,0.0,0.0,0.000004,0.0,0.0,0.0,0.0,13.704703,0.187405
2125,2126,731,1.0,4,Industrial & Manufacturing,0.000004,104,26,4,0,0.000000,0.0,0.0,0.000004,0.0,0.0,0.0,0.0,13.704703,0.187405
2126,2127,731,1.0,4,Industrial & Manufacturing,0.000127,102,26,4,0,0.000000,0.0,0.0,0.000127,0.0,0.0,0.0,0.0,104.258547,5.527973
2127,2128,731,1.0,4,Industrial & Manufacturing,0.000127,104,26,4,0,0.000000,0.0,0.0,0.000127,0.0,0.0,0.0,0.0,104.258547,5.527973
2128,2129,736,1.0,1,Residential,0.008134,200,50,1,0,0.008134,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,188.454992,354.304185
2129,2130,736,1.0,1,Residential,0.008134,210,50,1,0,0.008134,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,188.454992,354.304185

In [64]:
df.to_clipboard()

In [62]:
g = df.groupby(['MUNICODE', 'LVPCGENC'])['SUM_19_Par', 'SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe'].sum()
g.head(15)

                   SUM_19_Par   SUM_Res_1_  SUM_RCOB_2  SUM_ManuIn  \
MUNICODE LVPCGENC
0        1                  0     0.629596    0.000000    0.000000
         990                0     0.000000    0.000000    0.000000
1        1                  0   185.919967    0.000000    0.000000
         2                  0     0.000000    6.097628    0.000000
         3                  0     0.000000    0.000000    7.969384
         5                  0     0.000000    1.288890    0.000000
         6                  0     0.000000    0.000000    0.000000
         7                  0     0.000000    0.000000    0.000000
         8                  0     0.000000    0.000000    0.000000
         9                  0     0.000000    0.000000    0.000000
         19                 1     5.000000    0.000000    0.000000
         990                0     0.000000    0.000000    0.000000
3        1                  0  3641.333328    0.000000    0.000000
         2                  0     0.000000  969.993692    0.000000
         3                  0     0.000000    0.000000  981.979546

                   SUM_WareDi  SUM_TCU_6_  SUM_PubQua  SUM_ParksR  SUM_AgUnDe
MUNICODE LVPCGENC
0        1                0.0    0.000000    0.000000    0.000000    0.000000
         990              0.0  796.741739    0.000000    0.000000    0.000000
1        1                0.0    0.000000    0.000000    0.000000    0.000000
         2                0.0    0.000000    0.000000    0.000000    0.000000
         3                0.0    0.000000    0.000000    0.000000    0.000000
         5                0.0    0.000000    0.000000    0.000000    0.000000
         6                0.0    5.260547    0.000000    0.000000    0.000000
         7                0.0    0.000000   11.884449    0.000000    0.000000
         8                0.0    0.000000    0.000000   65.593079    0.000000
         9                0.0    0.000000    0.000000    0.000000  108.596931
         19               0.0    0.000000    0.000000    0.000000   10.230669
         990              0.0   50.769337    0.000000    0.000000    0.000000
3        1                0.0    0.000000    0.000000    0.000000    0.000000
         2                0.0    0.000000    0.000000    0.000000    0.000000
         3                0.0    0.000000    0.000000    0.000000    0.000000

In [65]:
g.to_clipboard()

In [47]:
df.columns

Index(['OBJECTID', 'FID_TotalDifferentParcels2018', 'ParcelType', 'ELU18',
       'ELU18Text', 'GISAcres', 'FID_LC_ELU_2016Baseline', 'MUNICODE',
       'LVPCGENC', 'SUM_19_Par', 'SUM_Res_1_', 'SUM_RCOB_2', 'SUM_ManuIn',
       'SUM_WareDi', 'SUM_TCU_6_', 'SUM_PubQua', 'SUM_ParksR', 'SUM_AgUnDe',
       'Shape_Length', 'Shape_Area'],
      dtype='object')

In [5]:
import rasterio
rasterio.open(r"L:\lvpcgis\BowenLiuTemporary\ExtendLinesToLayer\Test\47002600PAS_dem.tif")

In [8]:
with rasterio.open(r"L:\lvpcgis\BowenLiuTemporary\ExtendLinesToLayer\Test\47002600PAS_dem.tif") as src:
    profile = src

array([[[ 375.36999512,  375.32000732,  375.26998901, ...,  226.72999573,
          226.72999573,  226.72999573],
        [ 375.30999756,  375.3500061 ,  375.29998779, ...,  226.72999573,
          226.72999573,  226.72999573],
        [ 375.26000977,  375.32000732,  375.32998657, ...,  226.72999573,
          226.72999573,  226.72999573],
        ...,
        [ 368.3999939 ,  368.41000366,  368.42999268, ...,  691.46002197,
          691.97998047,  692.59997559],
        [ 368.41000366,  368.42999268,  368.45001221, ...,  691.76000977,
          692.2800293 ,  692.79998779],
        [ 368.42999268,  368.45001221,  368.45999146, ...,  692.05999756,
          692.78997803,  693.60998535]]], dtype=float32)