In [13]:
import pandas as pd
import numpy as np

In [2]:
#The most important thing of this task is to learn to
#extract data frame and then manipulate with Pandas for this part

fc = r'H:\lvpcprojects\FutureLV\ScenarioPlanning\LV_LivingWorkingFlow\Commuter X bliu\map.gdb\TrafficCountSites'
field = ['RouteName']
df1 = pd.DataFrame.from_records(data = arcpy.da.SearchCursor(fc, field), columns = field)

NameError: name 'arcpy' is not defined

In [3]:
#Get the unique values and then sort them, especially checking the data type
df = pd.read_excel('file:///L:\lvpcgis\BowenLiuTemporary\BowenCodingRelated\PandasUniqueData\Play.xlsx')
df.head()

,OBJECTID,LENGTH,ID,STREET,PREFIX,NAME,TYPE,SUFFIX,ODD,L_F_ADD,...,R_T_ADD,ZIP_L,ZIP_R,ALLEY,ROUTE_NAME,STREETNAME,LVPCTYPE,COUNTY,RDCLASS,Shape_Length
0,1,465.300,4481,RT33 S,,RT33,,S,,0,...,0,18091,18091,N,STATE HWY 33,STATE HWY 33,1,95,33.0,465.300164
1,2,2615.804,4482,RT33 S,,RT33,,S,,0,...,0,18091,18091,N,STATE HWY 33,STATE HWY 33,1,95,33.0,2615.803806
2,3,1911.359,4483,RT33 S,,RT33,,S,,0,...,0,18091,18091,N,STATE HWY 33,STATE HWY 33,1,95,33.0,1911.358654
3,4,2039.440,4484,RT33 S,,RT33,,S,,0,...,0,18091,18091,N,STATE HWY 33,STATE HWY 33,1,95,33.0,2039.439950
4,5,1733.914,4485,RT33 S,,RT33,,S,,0,...,0,18091,18091,N,STATE HWY 33,STATE HWY 33,1,95,33.0,1733.913946

In [20]:
s = df['ROUTE_NAME'].unique()
pd.Series(s)

0            STATE HWY 33
1                 SR 0987
2               PA RT 987
3           PA RT 329/987
4               PA RT 611
5               PA RT 512
6               PA RT 412
7                 SR 0378
8               PA RT 378
9                 SR 0329
10              PA RT 329
11                SR 0309
12     SR 0078    SR 0309
13              PA RT 248
14                SR 0222
15              PA RT 191
16                SR 0145
17              PA RT 145
18                SR 0100
19       SR 0222  SR 0100
20    SR 0029     SR 0100
21                SR 0029
22                SR 0022
23           STATE HWY 22
24    SR 0022     SR 0078
25                SR 0078
26    SR 0309     SR 0078
27
28                   I-78
29                  I-476
30                SR 1002
31                   T413
32                SR 1003
dtype: object

In [40]:
#I want to see what datatype s has
type(df)

pandas.core.frame.DataFrame

In [34]:
s1 = pd.Series(df['ROUTE_NAME'].unique()).sort_values()
s1

27
29                  I-476
28                   I-78
17              PA RT 145
15              PA RT 191
13              PA RT 248
10              PA RT 329
3           PA RT 329/987
8               PA RT 378
6               PA RT 412
5               PA RT 512
4               PA RT 611
2               PA RT 987
22                SR 0022
24    SR 0022     SR 0078
21                SR 0029
20    SR 0029     SR 0100
25                SR 0078
12     SR 0078    SR 0309
18                SR 0100
16                SR 0145
14                SR 0222
19       SR 0222  SR 0100
11                SR 0309
26    SR 0309     SR 0078
9                 SR 0329
7                 SR 0378
1                 SR 0987
30                SR 1002
32                SR 1003
23           STATE HWY 22
0            STATE HWY 33
31                   T413
dtype: object

In [37]:
s2 = pd.Series(np.array([2, 4, 6, 8, 10]), index=['a', 'b', 'c', 'd', 'e'])
pd.cut(s2, 6)

a    (1.992, 3.333]
b    (3.333, 4.667]
c      (4.667, 6.0]
d    (7.333, 8.667]
e     (8.667, 10.0]
dtype: category
Categories (6, interval[float64]): [(1.992, 3.333] < (3.333, 4.667] < (4.667, 6.0] < (6.0, 7.333] < (7.333, 8.667] < (8.667, 10.0]]

In [21]:
s.sort()
print(s)

[' ' 'I-476' 'I-78' 'PA RT 145' 'PA RT 191' 'PA RT 248' 'PA RT 329'
 'PA RT 329/987' 'PA RT 378' 'PA RT 412' 'PA RT 512' 'PA RT 611'
 'PA RT 987' 'SR 0022' 'SR 0022     SR 0078' 'SR 0029'
 'SR 0029     SR 0100' 'SR 0078' 'SR 0078    SR 0309' 'SR 0100' 'SR 0145'
 'SR 0222' 'SR 0222  SR 0100' 'SR 0309' 'SR 0309     SR 0078' 'SR 0329'
 'SR 0378' 'SR 0987' 'SR 1002' 'SR 1003' 'STATE HWY 22' 'STATE HWY 33'
 'T413']

In [17]:
sb = np.array([[ 0.00909254],
       [ 0.02390291],
       [ 0.02998752]])
pd.Series(sb.tolist())

0    [0.00909254]
1    [0.02390291]
2    [0.02998752]
dtype: object