In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd

In [10]:
#Cleaning project excel file
df = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\
/Staff%20Review%20Access%20Folder\Projects%20Evaluation%20Template%20-%20BL%20Only.xlsx')
df.head()
df.shape

,ID,Name of Project,project Type,1a,1b,1c,1d,2a,2b,3a,...,7b,8a,9a,9b,10a,TOTAL Score,Potential Funding Category,PFC_1,PFC_2,PFC_3
0,1.0,Airport Center Road & Airport Road (1790 Airpo...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,The proposed project would straighten Route 51...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Route 191/Linden Street Corridor study from th...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Keystone Street over Nancy Run\t,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(253, 28)

In [9]:
df.dropna(how = 'all')

,ID,Name of Project,project Type,1a,1b,1c,1d,2a,2b,3a,...,7b,8a,9a,9b,10a,TOTAL Score,Potential Funding Category,PFC_1,PFC_2,PFC_3
0,1.0,Airport Center Road & Airport Road (1790 Airpo...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,The proposed project would straighten Route 51...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Route 191/Linden Street Corridor study from th...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Keystone Street over Nancy Run\t,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,Farmersville Road at Freemansburg Avenue\t,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,William Penn Highway & Route 33\t,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,Oakland Road at Santee/Rambeau Roads\t,6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,Hecktown Road at Chester Avenue\t,6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,Intersection of Freemansburg Avenue and Willow...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.0,Freemansburg Avenue at 9th Street and 9th Stre...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.0,Butztown Section of Bethlehem Township\t,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,Borough of Alburtis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13.0,N. Walnut St - from Barrall Ave to Main St No...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14.0,The Borough of Catasauqua's downtown commercia...,2 & 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15.0,The Catasauqua Area Trail & Transit Initiative...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16.0,"Streetscape: Main Street (SR 2045), East Stat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17.0,The project will occur in the main artery of t...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18.0,The project will be located within the Borough...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19.0,Business Corridor in Emmaus Borough - from Sta...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,Full depth reconstruction of Ostrum Street in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21.0,Ostrum St. located in the North East section o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Full depth reconstruction of Ostrum St located...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,22.0,This project will construct 1.1 miles of trail...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23.0,Lower Saucon Township hugs the southern and ea...,6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,24.0,Project is located along Broad Street in Nazar...,2 & 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,25.0,"A borough-wide study of traffic, with the inte...",20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,26.0,North Catasauqua (Borough-wide),20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,27.0,The SR 329 Corridor Study & Plan as a long ran...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,28.0,Enhance safety on part of route to School - Ma...,6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,29.0,Borough of Northampton,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,205.0,Connecting Easton and Palmer's bike paths toge...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,One way roadway pair from the Race Street Brid...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,206.0,One way roadway pair from the Race Street Brid...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,207.0,Mickley Road east of MacArthur Road from south...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,208.0,MacArthur Road Pedestrian Access Study,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,209.0,MacArthur Road - Eberhart Road,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,210.0,MacArthur Road north of Route 22 approximately...,3 & 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,211.0,"Water Street Culvert, east end of Eberhart Roa...",20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,212.0,N. Sixth Street - MacArthur Road - Mickley Road,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,213.0,Intersection of Grape Street - Third Street,2 & 3 & 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,N. Sixth Street - MacArthur Road - Mickley Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,Mickley Road east of MacArthur Road from south...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,MacArthur Road north of Route 22 approximately...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,NaN,MacArthur Road Pedestrian Access Study,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,"Water Street Culvert, east end of Eberhart Roa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,MacArthur Road - Eberhart Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,Intersection of Grape Street - Third Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,214.0,The project is located along the Route 329 eas...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,215.0,City of Allentown - 6th Ward,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,216.0,"Wilson Borough, Northampton County",20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,217.0,"Hay Terrace, S. 21ST Street, Butler Street, an...",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,218.0,This project is located along Washington Stree...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,219.0,The bridge is located in Wilson Borough along ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,220.0,The project is located in Wilson Borough along...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,221.0,"Male Road, approximately 500' west of the inte...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,"Male Road, Wind Gap Borough, Northampton Count...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,222.0,US Route 22 Widening - SR 987 to SR 512,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,223.0,Lehigh Valley Freight Study,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,224.0,SR 378 over US Route 22 Bridge (Bridge ID 3907...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,225.0,Schoenersville Road (SR 1009) over US Route 22...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#This will be input in ArcGIS Pro
df2[~df2['PROJECT ID'].isin(df1.ID)]

In [ ]:
def ACscore(v):
    if v <= 236:
        res = 2
    elif v > 236 and v <= 579:
        res = 4
    elif v > 579 and v <= 1128:
        res = 6
    elif v > 1128 and v <= 1983:
        res = 8
    else:
        res = 10
    return res

In [ ]:
def ACscore(v):
    if v <= 12:
        res = 2
    elif v > 12 and v <= 184:
        res = 4
    elif v > 184 and v <= 240:
        res = 6
    elif v > 240 and v <= 527:
        res = 8
    else:
        res = 10
    return res

In [ ]:
def ACscore(v):
    if v <= 65:
        res = 2
    elif v > 65 and v <= 116:
        res = 4
    elif v > 116 and v <= 273:
        res = 6
    elif v > 273 and v <= 432:
        res = 8
    else:
        res = 10
    return res

In [ ]:
def FatalScore(v):
    if v == 0:
        res = 0
    elif v == 1:
        res = 5
    else:
        res == 10
    return res

In [9]:
df = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\
/GIS%20Related%20Data\Project%20Segments%20Traffic%20Volume.xlsx')

df1 = df.groupby(['ProjectID'])['Vol_2045', 'Vol_2017'].sum()
df1 = df1.reset_index()
df1.head()

   ProjectID  Vol_2045  Vol_2017
0          2     47233     38155
1          3    712377    587916
2          4     26124     24761
3          5     86864     70907
4          6    457891    364644

In [10]:
df1['GrowthRate'] = ((df1.Vol_2045 - df1.Vol_2017)/df1.Vol_2017)/28
df1.head()

   ProjectID  Vol_2045  Vol_2017  GrowthRate
0          2     47233     38155    0.008497
1          3    712377    587916    0.007561
2          4     26124     24761    0.001966
3          5     86864     70907    0.008037
4          6    457891    364644    0.009133

In [16]:
df2 = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\
/Staff%20Review%20Access%20Folder\Projects%20Evaluation%20Template%20-%20BH%20Only%20Version.xlsx')

df2 = df2[['ID', 'project Type', 'AADT', 'AADT YEAR']]
df2.head()

    ID project Type   AADT AADT YEAR
0  1.0            6    NaN       NaN
1  NaN          NaN    NaN       NaN
2  2.0            3   7084      2016
3  3.0            3  25808      2016
4  4.0            1    198      2018

In [25]:
#This is a very cool pandas function
df2 = df2[pd.notnull(df2['AADT'])]
df2 = df2.rename(columns = {'ID': 'ProjectID'})
df2.tail()

     ProjectID project Type   AADT AADT YEAR
265      221.0            1    764      2016
267      222.0            4  94872      2016
268      223.0            3      ?         ?
269      224.0            1  23134      2017
270      225.0            1  31562      2017

In [30]:
df2.ProjectID.unique().shape

(121,)

In [37]:
df2.ProjectID = df2.ProjectID.fillna(method = 'ffill')
df2

     ProjectID project Type   AADT AADT YEAR
2          2.0            3   7084      2016
3          3.0            3  25808      2016
4          4.0            1    198      2018
5          5.0            3  14680      2014
6          6.0            4  62176      2018
9          9.0            3  15622      2014
10        10.0            2  15622      2014
11        11.0            3  19651      2017
13        13.0            3   9627      2015
14        14.0            2   6443      2016
15        14.0            3   4051      2018
18        17.0            3  22744      2016
19        18.0            3  20347      2017
20        19.0            3  21368      2017
26        24.0            2   9652      2018
30        27.0            3  20645      2018
34        30.0            3  15679      2016
43        38.0            3  17080      2018
46        40.0            3  31533      2016
49        42.0            3  14120      2017
51        43.0            3  20980      2016
53        44.0            4  20980      2016
55        45.0            3  20980      2016
57        46.0            3  17662      2014
63        50.0            3   9507      2016
64        51.0            3  13738      2016
68        55.0            1   4018      2014
73        60.0            3   8496      2015
79        62.0            3  10203      2015
81        64.0            1   3366      2018
..         ...          ...    ...       ...
206      179.0            4  68695      2017
207      180.0            3  23423      2017
209      182.0            1   1240      2018
213      186.0            3  12371      2017
214      187.0            3  33141      2017
215      188.0            3  12185      2014
217      189.0            3  10222      2016
224      195.0            3  15058      2017
225      196.0            3  22377      2017
227      197.0            1    250      2010
228      198.0            3  10203      2015
229      199.0            3  10203      2015
232      201.0            3   6002      2014
233      202.0            3   5719      2017
234      203.0            3  10325      2017
235      204.0            3   3166      2017
239      206.0            3  15394      2017
240      207.0            5   3000      1980
242      209.0            3  36574      2017
243      210.0        3 & 6  31263      2014
245      211.0            3    390      2010
246      212.0            3  26375      2014
247      213.0            2  15101      2018
248      213.0            3  15101      2018
257      214.0            3  20654      2018
265      221.0            1    764      2016
267      222.0            4  94872      2016
268      223.0            3      ?         ?
269      224.0            1  23134      2017
270      225.0            1  31562      2017

[123 rows x 4 columns]

In [40]:
df2[~df2.ProjectID.isin(df1.ProjectID)]

     ProjectID project Type   AADT AADT YEAR
20        19.0            3  21368      2017
34        30.0            3  15679      2016
153      126.0          NaN  80454      2018
160      133.0            -  12772      2017
187      159.0            3  18369      2015
203      174.0            1    112      2012
240      207.0            5   3000      1980
267      222.0            4  94872      2016
268      223.0            3      ?         ?
269      224.0            1  23134      2017
270      225.0            1  31562      2017

In [41]:
#Merge together for final result
m = pd.merge(df2, df1, on = 'ProjectID', how = 'left')
m

     ProjectID project Type   AADT AADT YEAR  Vol_2045  Vol_2017  GrowthRate
0          2.0            3   7084      2016   47233.0   38155.0    0.008497
1          3.0            3  25808      2016  712377.0  587916.0    0.007561
2          4.0            1    198      2018   26124.0   24761.0    0.001966
3          5.0            3  14680      2014   86864.0   70907.0    0.008037
4          6.0            4  62176      2018  457891.0  364644.0    0.009133
5          9.0            3  15622      2014   65311.0   58114.0    0.004423
6         10.0            2  15622      2014   73148.0   62240.0    0.006259
7         11.0            3  19651      2017   75443.0   66360.0    0.004888
8         13.0            3   9627      2015  180602.0  125284.0    0.015769
9         14.0            2   6443      2016   31857.0   42679.0   -0.009056
10        14.0            3   4051      2018   31857.0   42679.0   -0.009056
11        17.0            3  22744      2016  297469.0  242608.0    0.008076
12        18.0            3  20347      2017  264564.0  216011.0    0.008028
13        19.0            3  21368      2017       NaN       NaN         NaN
14        24.0            2   9652      2018  147511.0  131398.0    0.004380
15        27.0            3  20645      2018  609568.0  443262.0    0.013400
16        30.0            3  15679      2016       NaN       NaN         NaN
17        38.0            3  17080      2018  447904.0  372676.0    0.007209
18        40.0            3  31533      2016  279579.0  202434.0    0.013610
19        42.0            3  14120      2017  763061.0  730620.0    0.001586
20        43.0            3  20980      2016  396242.0  340099.0    0.005896
21        44.0            4  20980      2016  149896.0  113390.0    0.011498
22        45.0            3  20980      2016  246383.0  195377.0    0.009324
23        46.0            3  17662      2014  211882.0  162306.0    0.010909
24        50.0            3   9507      2016  272025.0  225991.0    0.007275
25        51.0            3  13738      2016   49479.0   39525.0    0.008994
26        55.0            1   4018      2014   74091.0   62319.0    0.006746
27        60.0            3   8496      2015  252644.0  202783.0    0.008782
28        62.0            3  10203      2015  742224.0  580931.0    0.009916
29        64.0            1   3366      2018   29903.0   23485.0    0.009760
..         ...          ...    ...       ...       ...       ...         ...
93       179.0            4  68695      2017  597091.0  452956.0    0.011365
94       180.0            3  23423      2017   61047.0   51501.0    0.006620
95       182.0            1   1240      2018    2195.0    1258.0    0.026601
96       186.0            3  12371      2017   22912.0   20623.0    0.003964
97       187.0            3  33141      2017  130135.0  104976.0    0.008559
98       188.0            3  12185      2014  104788.0   98859.0    0.002142
99       189.0            3  10222      2016   26148.0   24060.0    0.003099
100      195.0            3  15058      2017   62907.0   43318.0    0.016150
101      196.0            3  22377      2017   53122.0   39056.0    0.012862
102      197.0            1    250      2010   22086.0   19117.0    0.005547
103      198.0            3  10203      2015   44708.0   32539.0    0.013356
104      199.0            3  10203      2015   44428.0   32336.0    0.013355
105      201.0            3   6002      2014   87578.0   60251.0    0.016198
106      202.0            3   5719      2017   44957.0   24735.0    0.029198
107      203.0            3  10325      2017   60343.0   46630.0    0.010503
108      204.0            3   3166      2017   27998.0   12099.0    0.046931
109      206.0            3  15394      2017   72611.0   81292.0   -0.003814
110      207.0            5   3000      1980       NaN       NaN         NaN
111      209.0            3  36574      2017  129005.0   94383.0    0.013101
112      210.0        3 & 6  31263      2014  141051.0  112969.0    0.008878
113      211.0            3    390      2010   10040.0    4916.0    0.037225
114      212.0            3  26375      2014   74259.0   65607.0    0.004710
115      213.0            2  15101      2018   49071.0   34717.0    0.014766
116      213.0            3  15101      2018   49071.0   34717.0    0.014766
117      214.0            3  20654      2018  126789.0   92359.0    0.013314
118      221.0            1    764      2016   78522.0   62697.0    0.009014
119      222.0            4  94872      2016       NaN       NaN         NaN
120      223.0            3      ?         ?       NaN       NaN         NaN
121      224.0            1  23134      2017       NaN       NaN         NaN
122      225.0            1  31562      2017       NaN       NaN         NaN

[123 rows x 7 columns]

In [42]:
m.to_clipboard()

In [7]:
#Working with empty values.
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
               columns=['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0
df

        one       two     three four   five
a  0.370513 -0.107707 -0.727175  bar   True
c  1.422899 -1.196835 -0.597936  bar   True
e -0.460530 -0.688832 -1.567915  bar  False
f  0.195803  2.157640  0.658329  bar   True
h -2.071847  1.262222 -0.658108  bar  False

In [13]:
df[df.one.notnull()]

        one       two     three four   five
a  0.370513 -0.107707 -0.727175  bar   True
c  1.422899 -1.196835 -0.597936  bar   True
e -0.460530 -0.688832 -1.567915  bar  False
f  0.195803  2.157640  0.658329  bar   True
h -2.071847  1.262222 -0.658108  bar  False

In [31]:
#Check how many study plans I have not scored.
df1 = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\GIS%20Related%20Data\Temporary%20Score%20Results\Type2C6aScore.xlsx')
df2 = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\GIS%20Related%20Data\Temporary%20Score%20Results\Type3C6aScore.xlsx')
df3 = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\GIS%20Related%20Data\Temporary%20Score%20Results\Type4C6aScore.xlsx')
df1.columns
df2.columns
df3.columns

Index(['OBJECTID', 'ProjectID', 'SUM_FATAL_COUNT', 'SUM_MAJ_INJ_COUNT',
       'Shape_Length', 'Shape_Area', 'Fat Score', 'Maj Score',
       'All Crashes Score', 'Total Score'],
      dtype='object')

Index(['OBJECTID', 'PROJECT ID', 'Plan/Project Description:',
       'Name of Project', 'project Type', 'SUM_FATAL_COUNT',
       'SUM_MAJ_INJ_COUNT', 'Shape_Length', 'Shape_Area', 'Fatality Score',
       'Major Injury Score', 'All Crashes Score', 'Total Weighted Score'],
      dtype='object')

Index(['OBJECTID', 'PROJECT ID', 'SUM_FATAL_COUNT', 'SUM_MAJ_INJ_COUNT',
       'Shape_Length', 'Shape_Area', 'Fatality Score', 'Maj Inj Score',
       'All Score', 'Total Score'],
      dtype='object')

In [32]:
#Rename columns to make sure they are all identical
df1 = df1.rename(columns = {'ProjectID' : 'PROJECT ID', 'Fat Score': 'Fatality Score', 'Maj Score': 'Major Injury Score'})
df2 = df2.rename(columns = {'Total Weighted Score': 'Total Score'})
df3 = df3.rename(columns = {'All Score': 'All Crashes Score', 'Maj Inj Score': 'Major Injury Score'})

In [33]:
#Selecting the columns
def p_rename(x):
    x = x[['PROJECT ID', 'All Crashes Score', 'Fatality Score',
       'Major Injury Score', 'Total Score']]
    return x
r = []    
for i in [df1, df2, df3]:
    r.append(p_rename(i))
df_complete = pd.concat(r)

In [39]:
#All the safety crash score that I have
df_complete
df_complete.sort_values('PROJECT ID')

,PROJECT ID,All Crashes Score,Fatality Score,Major Injury Score,Total Score
0,10,2,10,5,5.175
1,14,6,5,0,2.775
2,24,8,5,0,3.075
3,91,4,0,0,0.600
4,212,10,0,0,1.500
0,2,2,5,0,1.450
1,5,2,0,0,0.200
2,13,2,5,0,1.450
3,14,2,5,0,1.450
4,38,6,10,0,3.100
5,40,6,10,10,4.600
6,42,10,10,5,4.250
7,43,8,10,0,3.300
8,45,8,10,0,3.300
9,46,8,10,0,3.300
10,50,6,10,0,3.100
11,51,2,5,0,1.450
12,60,4,5,0,1.650
13,81,2,0,0,0.200
14,82,2,0,0,0.200
15,83,2,0,0,0.200
16,84,2,0,0,0.200
17,87,2,5,0,1.450
18,96,2,0,0,0.200
19,97,2,5,0,1.450
20,98,2,0,0,0.200
21,99,2,0,0,0.200
22,100,2,0,0,0.200
23,116,2,0,0,0.200
24,123,2,10,0,2.700
25,124,4,10,0,2.900
26,146,2,10,0,2.700
27,147,2,5,0,1.450
28,148,2,10,5,3.450
29,153,8,10,5,4.050
30,154,6,10,5,3.850
31,160,2,0,0,0.200
32,180,2,5,0,1.450
33,186,4,5,0,1.650
34,187,4,10,5,3.650
35,195,2,0,0,0.200
36,196,2,0,0,0.200
37,198,2,0,0,0.200
38,199,2,0,0,0.200
39,201,2,5,0,1.450
40,202,2,10,0,2.700
41,203,2,5,0,1.450
42,204,2,0,0,0.200
43,209,4,10,10,4.400
44,210,6,10,5,3.850
45,212,4,0,0,0.400
46,213,4,10,0,2.900
0,6,6,10,0,3.100
1,44,10,10,0,3.500
2,127,4,5,0,1.650
3,162,2,0,0,0.200
4,179,8,10,0,3.300

,PROJECT ID,All Crashes Score,Fatality Score,Major Injury Score,Total Score
0,2,2,5,0,1.450
1,5,2,0,0,0.200
0,6,6,10,0,3.100
0,10,2,10,5,5.175
2,13,2,5,0,1.450
1,14,6,5,0,2.775
3,14,2,5,0,1.450
2,24,8,5,0,3.075
4,38,6,10,0,3.100
5,40,6,10,10,4.600
6,42,10,10,5,4.250
7,43,8,10,0,3.300
1,44,10,10,0,3.500
8,45,8,10,0,3.300
9,46,8,10,0,3.300
10,50,6,10,0,3.100
11,51,2,5,0,1.450
12,60,4,5,0,1.650
13,81,2,0,0,0.200
14,82,2,0,0,0.200
15,83,2,0,0,0.200
16,84,2,0,0,0.200
17,87,2,5,0,1.450
3,91,4,0,0,0.600
18,96,2,0,0,0.200
19,97,2,5,0,1.450
20,98,2,0,0,0.200
21,99,2,0,0,0.200
22,100,2,0,0,0.200
23,116,2,0,0,0.200
24,123,2,10,0,2.700
25,124,4,10,0,2.900
2,127,4,5,0,1.650
26,146,2,10,0,2.700
27,147,2,5,0,1.450
28,148,2,10,5,3.450
29,153,8,10,5,4.050
30,154,6,10,5,3.850
31,160,2,0,0,0.200
3,162,2,0,0,0.200
4,179,8,10,0,3.300
32,180,2,5,0,1.450
33,186,4,5,0,1.650
34,187,4,10,5,3.650
35,195,2,0,0,0.200
36,196,2,0,0,0.200
37,198,2,0,0,0.200
38,199,2,0,0,0.200
39,201,2,5,0,1.450
40,202,2,10,0,2.700
41,203,2,5,0,1.450
42,204,2,0,0,0.200
43,209,4,10,10,4.400
44,210,6,10,5,3.850
45,212,4,0,0,0.400
4,212,10,0,0,1.500
46,213,4,10,0,2.900

In [41]:
#New Study Projects
s = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\GIS%20Related%20Data\Study%20FIltered.xlsx', sheet_name= 'StudyOnlyFilter')
s.shape

(27, 4)

In [42]:
#Which new study projects have I not scored
s[~s.ID.isin(df_complete['PROJECT ID'])]

,ID,Name of Project,project Type,Plan/Study
0,3,Route 191/Linden Street Corridor study from th...,3,Study
1,9,Intersection of Freemansburg Avenue and Willow...,3,Study
2,11,Butztown Section of Bethlehem Township\t,3,Study
3,17,The project will occur in the main artery of t...,3,Study
4,18,The project will be located within the Borough...,3,Study
5,19,Business Corridor in Emmaus Borough - from Sta...,3,Study
6,25,"A borough-wide study of traffic, with the inte...",3,Study
7,27,The SR 329 Corridor Study & Plan as a long ran...,3,Study
8,30,Borough of Slatington,3,Study
9,62,The Route 512 and Route 611 corridors in the S...,3,Study
10,93,The proposed bridge connection project will co...,3,Study
11,101,The Uhler Road Corridor Study will analyze Uhl...,3,Study
12,102,The Sullivan Trail Corridor Study Update will ...,3,Study
13,122,Airport Road NB - Postal Rd/Avenue A,3,Study
14,132,"Lafayette College, in partnership with the Cit...",3,Study
15,151,Intersection of PA Route 248 and PA Route 145 ...,3,Study
16,152,Lower Macungie Township and Upper Macungie Tow...,3,Study
17,159,Study or Plan,3,Study
18,161,Study or Plan,3,Study
19,167,Study or Plan,2,Study
20,188,Walbert Avenue (SR1006) between Cedar Crest Bo...,3,Study
21,189,Intersection of SR2008 (Haines Mill Road) with...,3,Study
22,200,Intersection of Route 248 (Bath Pike) and Rout...,3,Study
23,206,One way roadway pair from the Race Street Brid...,3,Study
24,211,"Water Street Culvert, east end of Eberhart Roa...",3,Study
25,214,The project is located along the Route 329 eas...,3,Study
26,223,Lehigh Valley Freight Study,3,Study

In [47]:
df_complete.columns

Index(['PROJECT ID', 'All Crashes Score', 'Fatality Score',
       'Major Injury Score', 'Total Score'],
      dtype='object')

In [50]:
a = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\GIS%20Related%20Data\StudyFinalCrashScoreExceptLV.xlsx')
a = a.rename(columns= {'ProjectID' : 'PROJECT ID'})[['PROJECT ID', 'Total Score']]

#nsc stands for Non-Study Crashes
nsc = df_complete[['PROJECT ID', 'Total Score']]

df_lv = pd.concat([nsc, a])

In [52]:
#The average crash score 
df_lv['Total Score'].mean()

2.1768292682926838

In [44]:
#How many of the new study projects are not in the GIS
sG = pd.read_excel('file:///H:\lvpcprojects\FutureLV\Call%20for%20Projects\GIS%20Related%20Data\StudyProjectsPart1.xlsx')
s[~s.ID.isin(sG['PROJECT ID'])]

,ID,Name of Project,project Type,Plan/Study
5,19,Business Corridor in Emmaus Borough - from Sta...,3,Study
6,25,"A borough-wide study of traffic, with the inte...",3,Study
8,30,Borough of Slatington,3,Study
17,159,Study or Plan,3,Study
19,167,Study or Plan,2,Study
26,223,Lehigh Valley Freight Study,3,Study

In [3]:
fc = r'H:\lvpcprojects\FutureLV\Call for Projects\CallForProjects_Workspace.gdb\SegmentsJoinedToProjects_Filtered'
fields = ['AllProjectsShapesMergedDissolve_ProjectID', 'Identical2045_VOL24', 'Identical2017_VOL24']
df = pd.DataFrame.from_records(data = arcpy.da.SearchCursor(fc, fields), columns = fields)
df.head()
df.columns()

NameError: name 'arcpy' is not defined